@charset "UTF-8";
:root {
  --main-text-color: #757575;
  --header-bg-color: #ffffff;
  --header-text-color: #212121;
  --button-color: #2196f3;
  --social-media-color: #afb1b8;
  --border-color: #ececec;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --footer-bg-color: #2f303a;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  text-decoration: none;
  color: var(--header-text-color);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--header-text-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* Контейнер */
main {
  font-weight: 400;
}

.container {
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--header-bg-color);
  font-weight: 500;
  border-bottom: 1px solid var(--border-color);
}

.header-link {
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--button-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--button-color);
}

.nav-links a:hover .current:hover,
.nav-links a:hover .current:focus,
.nav-links a:focus .current:hover,
.nav-links a:focus .current:focus {
  color: var(--header-text-color);
}

.nav-item {
  margin-left: 50px;
}

.nav-item:first-child {
  margin-left: 93px;
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
  outline: none;
}

.contacts-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-item:last-child {
  margin-left: 50px;
}

.contacts-item:last-child .link:hover,
.contacts-item:last-child .link:focus {
  color: var(--button-color);
}

.icon {
  margin-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: currentColor;
}

.color {
  color: var(--main-text-color);
}

.current {
  color: var(--button-color);
  position: relative;
}

.current::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--button-color);
}

h1 {
  font-weight: 900;
  letter-spacing: 0.06em;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 210px;
  background-color: #2f303a;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-header {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--header-bg-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  overflow-y: auto;
  background-color: var(--header-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.modal-input-container {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  outline: none;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.modal-form-input:focus {
  -webkit-box-shadow: 0 0 0 1px var(--button-color);
          box-shadow: 0 0 0 1px var(--button-color);
}

.modal-form-input:focus + .form-input-icon {
  fill: var(--button-color);
}

.modal-form-input:hover {
  border-color: var(--button-color);
}

.modal-form-input:hover + .form-input-icon {
  fill: var(--button-color);
}

.modal-textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.modal-textarea:focus {
  -webkit-box-shadow: 0 0 0 1px var(--button-color);
          box-shadow: 0 0 0 1px var(--button-color);
}

.modal-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:hover {
  border-color: var(--button-color);
}

.modal-send-btn:focus,
.modal-send-btn:hover {
  background-color: #188ce8;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-weight: normal;
  margin: 0 auto;
  padding-left: 23px;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.policy-terms {
  display: inline-block;
  color: var(--button-color);
  text-decoration: underline;
  padding-left: 2px;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.form-checkbox {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox:focus {
  -webkit-box-shadow: 0 0 0 1px var(--button-color);
          box-shadow: 0 0 0 1px var(--button-color);
}

.checkbox {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 15px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid black;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: background-color var(--transition), border var(--transition);
  transition: background-color var(--transition), border var(--transition);
}

.hidden:checked + .checkbox {
  background-image: url("../images/icon-check.svg");
  background-origin: border-box;
  background-size: contain;
  background-color: var(--button-color);
  border-color: var(--button-color);
}

.hidden:focus + .checkbox {
  border: 2px solid var(--button-color);
}

.modal-send-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--header-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: 30px auto 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
  cursor: pointer;
}

.button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--button-color);
  color: var(--header-bg-color);
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--header-bg-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  outline: none;
}

.close-button:focus {
  fill: var(--button-color);
}

.close-button:hover {
  fill: var(--button-color);
}

.buttons {
  padding: 6px 22px;
  color: var(--header-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover, .buttons:focus {
  background-color: var(--button-color);
  color: var(--header-bg-color);
  outline: none;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.btn > .item + .item {
  margin-left: 8px;
}

.advantages {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 0;
}

.advantage {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.advantage-p {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantage-item {
  width: calc((100%-90px) / 4);
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantages .container + .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-icon {
  color: var(--header-text-color);
}

.pcolor {
  color: var(--main-text-color);
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pictures-thumb {
  position: relative;
  z-index: -1;
}

.pictures-thumb-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.pictures-thumb-overlay p {
  text-transform: uppercase;
  color: var(--header-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.partners {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.partners h2 {
  margin-bottom: 50px;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--social-media-color);
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-media-color);
  border-radius: 4px;
  -webkit-transition: color var(--transition), border-color var(--transition);
  transition: color var(--transition), border-color var(--transition);
  outline: none;
}

.partner-link:hover, .partner-link:focus {
  color: var(--button-color);
  border-color: var(--button-color);
}

.partner-icon {
  fill: currentColor;
}

.personnel {
  max-width: 1600px;
  height: auto;
  padding-bottom: 94px;
  padding-top: 94px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f5f4fa;
}

.personnel-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.personnel-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.personnel-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--social-media-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  -webkit-transition: background-color var(--transition), color var(--transition);
  transition: background-color var(--transition), color var(--transition);
  outline: none;
}

.personnel-link:hover, .personnel-link:focus {
  background-color: var(--button-color);
  color: var(--header-bg-color);
}

.personnel-icon {
  fill: currentColor;
}

.personnel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 32px;
  padding-left: 32px;
}

.section-header {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--header-text-color);
  text-align: center;
}

.card-name {
  display: block;
  width: calc((100%-90px) / 4);
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-name:not(:last-child) {
  margin-right: 30px;
}

.card-name > h3 {
  margin-top: 30px;
}

.card-name > p {
  margin-top: 10px;
  margin-bottom: 16px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-links {
  display: inline-block;
  margin-top: 9px;
  color: var(--footer-text-color);
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.f-logo {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--header-bg-color);
}

.fcolor {
  color: var(--header-bg-color);
}

.fcolor > p {
  margin-top: 20px;
}

.pcolor {
  color: var(--main-text-color);
}

.advantage-p {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.wrapper {
  margin-left: 70px;
  color: var(--header-bg-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper h2 {
  margin-bottom: 20px;
  color: var(--header-bg-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--header-bg-color);
}

.join-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--header-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
  outline: none;
}

.join-link:hover, .join-link:focus {
  background-color: var(--button-color);
}

.join-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
}

.join-item {
  margin-right: 10px;
}

.form {
  margin-left: 93px;
}

.form-icon {
  margin-left: 10px;
  fill: currentColor;
}

.form-text {
  display: block;
  text-transform: uppercase;
  color: var(--header-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.form-input {
  min-width: 358px;
  min-height: 50px;
  margin-top: 20px;
  background-color: var(--footer-bg-color);
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--header-bg-color);
  border-radius: 4px;
  font-family: inherit;
}

.form-input::-webkit-input-placeholder {
  color: var(--footer-text-color);
}

.form-input:-ms-input-placeholder {
  color: var(--footer-text-color);
}

.form-input::-ms-input-placeholder {
  color: var(--footer-text-color);
}

.form-input::placeholder {
  color: var(--footer-text-color);
}

.submit-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  background-color: var(--button-color);
  color: var(--header-bg-color);
  border: none;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */