@charset "UTF-8";
:root {
  --main-text-color: #757575;
  --header-bg-color: #ffffff;
  --header-text-color: #212121;
  --button-color: #2196f3;
  --social-media-color: #afb1b8;
  --border-color: #ececec;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --footer-bg-color: #2f303a;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  text-decoration: none;
  color: var(--header-text-color);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--header-text-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* Контейнер */
main {
  font-weight: 400;
}

.container {
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--header-bg-color);
  font-weight: 500;
  border-bottom: 1px solid var(--border-color);
}

.header-link {
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--button-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item:first-child {
  margin-left: 93px;
}

.nav-item {
  margin-left: 50px;
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
  outline: none;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--button-color);
}

.nav-links .current:hover,
.nav-links .current:focus {
  color: var(--header-text-color);
}

.contacts-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-item:last-child {
  margin-left: 50px;
}

.contacts-item .link:hover,
.contacts-item .link:focus {
  color: var(--button-color);
}

.icon {
  margin-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: currentColor;
}

.color {
  color: var(--main-text-color);
}

.current {
  color: var(--button-color);
  position: relative;
}

/* Нижнее подчеркивание текущей страницы */
.current::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--button-color);
}

.portfolio {
  max-width: 1600px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-grid {
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.card-grid:hover,
.card-grid:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-grid:hover .card-overlay,
.card-grid:focus .card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-header {
  margin: 20px 24px 0;
  text-align: left;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.card-p {
  margin: 4px 24px 20px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.container .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100%-60px) / 3);
      flex-basis: calc((100%-60px) / 3);
  margin-left: -30px;
}

.grid > li {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 30px;
}

.grid > li:nth-child(-n + 3) {
  margin-top: 0;
}

.card-grid:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.grid > .card-grid {
  background-color: #fff;
}

.card-container {
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.card-grid .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  background-color: rgba(33, 150, 243, 0.9);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  color: var(--header-bg-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.f-logo {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--header-bg-color);
}

.fcolor {
  color: var(--header-bg-color);
}

.fcolor > p {
  margin-top: 20px;
}

.footer-links {
  display: inline-block;
  margin-top: 9px;
  color: var(--footer-text-color);
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pcolor {
  color: var(--main-text-color);
}

.advantage-p {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.form {
  margin-left: 93px;
}

.submit-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* width: 200px;
  height: 50px; */
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  background-color: var(--button-color);
  color: var(--header-bg-color);
  border: none;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.form-icon {
  margin-left: 10px;
  fill: currentColor;
}

.form-text {
  display: block;
  text-transform: uppercase;
  color: var(--header-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.form-input {
  min-width: 358px;
  min-height: 50px;
  margin-top: 20px;
  background-color: var(--footer-bg-color);
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--header-bg-color);
  border-radius: 4px;
  font-family: inherit;
}

.form-input::-webkit-input-placeholder {
  color: var(--footer-text-color);
}

.form-input:-ms-input-placeholder {
  color: var(--footer-text-color);
}

.form-input::-ms-input-placeholder {
  color: var(--footer-text-color);
}

.form-input::placeholder {
  color: var(--footer-text-color);
}

.wrapper {
  margin-left: 70px;
  color: var(--header-bg-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper h2 {
  margin-bottom: 20px;
  color: var(--header-bg-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--header-bg-color);
}

.join-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--header-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
  outline: none;
}

.join-link:hover,
.join-link:focus {
  background-color: var(--button-color);
}

.join-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
}

.join-item {
  margin-right: 10px;
}

.modal-send-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--header-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: 30px auto 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--button-color);
  color: var(--header-bg-color);
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--header-bg-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  outline: none;
}

.close-button:focus {
  fill: var(--button-color);
}

.close-button:hover {
  fill: var(--button-color);
}

.buttons {
  padding: 6px 22px;
  color: var(--header-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.btn > .item + .item {
  margin-left: 8px;
}

.buttons:hover,
.buttons:focus {
  background-color: var(--button-color);
  color: var(--header-bg-color);
  outline: none;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=portfolio.css.map */