.advantages {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 0;
}

.advantage {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;

  &-p {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
  }

  &-list {
    display: flex;
  }

  &-container {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

.advantage-item {
  width: calc((100%-90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages .container + .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-icon {
  color: var(--header-text-color);
}

.pcolor {
  color: var(--main-text-color);
}

.pictures {
  display: flex;
  justify-content: space-between;
}

.pictures-thumb {
  position: relative;
  z-index: -1;

  &-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &-overlay p {
    text-transform: uppercase;
    color: var(--header-bg-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
