h1 {
  font-weight: 900;
  letter-spacing: 0.06em;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 210px;
  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-header {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--header-bg-color);
  }
}
