.header__link {
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  color: var(--button-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.header__logo--white {
  color: var(--header-bg-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__links {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  // & a:hover,
  // & a:focus {
  //   color: var(--button-color);
  // }
  // &--current:hover,
  // &--current:focus {
  //   color: var(--header-text-color);
  // }
}

.nav__item {
  margin-left: 50px;

  &:first-child {
    margin-left: 93px;
  }
}

.nav__link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition);
  outline: none;

  &:hover,
  &:focus {
    color: var(--button-color);
  }

  &--current:hover,
  &--current:focus {
    color: var(--header-text-color);
  }
}

.contact__links {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact__item:last-child {
  margin-left: 50px;
}

.contact__item .link:hover,
.contact__item .link:focus {
  color: var(--button-color);
}

.icon {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

.nav__link--grey {
  color: var(--main-text-color);
}

.nav__link--current {
  color: var(--button-color);
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--button-color);
  }
}
