.modal-send-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--header-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: 30px auto 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
  cursor: pointer;
}

.button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  background-color: var(--button-color);
  color: var(--header-bg-color);
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--header-bg-color);
  transition: var(--transition);
  outline: none;

  &:focus {
    fill: var(--button-color);
  }

  &:hover {
    fill: var(--button-color);
  }
}

.buttons {
  padding: 6px 22px;

  color: var(--header-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-color);
    color: var(--header-bg-color);
    outline: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.btn {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  & > .item + .item {
    margin-left: 8px;
  }
}
